/* COLOR PALETTE:

offwhite - #eaedc3
olive - #809a6a
MAIN: BLUE GREY #607d8b (500)
2nd: #455a64 (700)
#90a4ae (300)

ACCENT: TEAL #00BFA5 (A700)

*/
/* main colors to use */
:root {
    --main-color: #607d8b;
    --secondary-color: #455a64;
    --accent-color: #00bfa5;
    --bk-color: #90a4ae;
    --white: #eaedc3;
}
/* body style*/
body {
    background-color: var(--bk-color);
    font-family: 'Proza Libre', sans-serif;
}

.title {
    color: var(--white);
    text-align: center;
    font-size: 40px;
}

/* key style*/
.key {
    background-color: var(--secondary-color);
    color: var(--white);
    border: .015em solid #CFD8DC;
    text-align: center;
    justify-content: center;
    font-size: 1.5em;
    align-items: center;
    width: 100px;
    height: 75px;
    cursor: pointer;
    /*text-shadow: 1px 1px 2px var(--accent-color);*/
}

.op {
    background-color: #78909C;
    color: var(--white);
    border: .015em solid #CFD8DC;
    text-align: center;
    justify-content: center;
    font-size: 1.5em;
    align-items: center;
    width: 100px;
    height: 75px;
    cursor: pointer;
    /*text-shadow: 1px 1px 2px var(--accent-color);*/
}

.key:hover {
    background-color: var(--main-color);
    color: var(--white);
    border: .015em solid #CFD8DC;
    text-align: center;
    justify-content: center;
    font-size: 1.5em;
    align-items: center;
    width: 100px;
    height: 75px;
    /*text-shadow: 1px 1px 2px var(--accent-color);*/
}

.op:hover {
    background-color: var(--accent-color);
    color: var(--white);
    border: .015em solid #CFD8DC;
    text-align: center;
    justify-content: center;
    font-size: 1.5em;
    align-items: center;
    width: 100px;
    height: 75px;
    /*text-shadow: 1px 1px 2px var(--accent-color);*/
}

#clear {
    background-color: var(--main-color);
    border: .015em solid #CFD8DC;
    border-radius: 70%;
    text-align: center;
    position: relative;
    left: 40px;
    top: 10px;
    z-index: 10;
    font-size: 1.5em;
    width: 25px;
    height: 25px;
    color: var(--white);
    cursor: pointer;
}

#value {
    background-color: var(--main-color);
    color: var(--white);
    border-top: .015em solid #CFD8DC;
    border-right: .015em solid #CFD8DC;
    border-left: .015em solid #CFD8DC;
    text-align: right;
    justify-content: center;
    font-size: 1.5em;
    align-items: center;
    width: 400px;
    height: 75px;
    cursor: pointer;
    z-index: -10;
}


.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    margin-right: -4px;
}

.shadow {
    -webkit-box-shadow: 0 5px 50px -50px var(--main-color);
    -moz-box-shadow: 0 5px 50px -50px var(--main-color);
    box-shadow: 0 5px 50px -50px var(--main-color);
}

.container {
    margin: 0 auto;
}