/* COLOR PALETTE:

offwhite - #eaedc3
olive - #809a6a
MAIN: BLUE GREY #607d8b (500)
2nd: #455a64 (700)
#90a4ae (300)

ACCENT: TEAL #00BFA5 (A700)

*/
/* main colors to use */
:root {
    --main-color: #607d8b;
    --secondary-color: #455a64;
    --accent-color: #00bfa5;
    --bk-color: #90a4ae;
    --white: #eaedc3;
}
/* body style*/
body {
    background-color: var(--bk-color);
    font-family: 'Proza Libre', sans-serif;
}

.title {
    color: var(--white);
    text-align: center;
    font-size: 40px;
}

/* key style*/
.key {
    background-color: var(--secondary-color);
    color: var(--white);
    border: .015em solid var(--accent-color);
    text-align: center;
    /*text-shadow: 1px 1px 2px var(--accent-color);*/
}

.op {
    background-color: #546E7A;
    color: var(--white);
    border: .015em solid var(--accent-color);
    text-align: center;
    /*text-shadow: 1px 1px 2px var(--accent-color);*/
}

.container {
    border: 2px solid #809a6a;
    margin: 0 auto;
}
